<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/HHNiPA/HHNiPA/raw/main/esign_4.7.3.1_unsign.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://avatars.githubusercontent.com/u/137310130?s=96&amp;v=4</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://avatars.githubusercontent.com/u/137310130?s=96&amp;v=4</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.garena.game.hhniosv2</string>
				<key>bundle-version</key>
				<string>1.49.1925084</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>HHNiOS</string>
				<key>title</key>
				<string>Beta1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
