<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://wira.adem.my.id/?source=youtube&title=LXG1Qlwche&type=ipa&download=aHR0cHM6Ly9kb3dubG9hZDE1MjgubWVkaWFmaXJlLmNvbS80Ymxtbndxd3o2bGcyamRMVmVxckJveFJIc0VBSkhLUVFINlZjMDZWLXNBLS14WDNWZk1LVGkwZlNNbTZvNVNnZjBOWjBjZkw0a05aMlhiY0J4VTVlQl9SZXlmVHJ1ODQtUEtONW1UdVdJV0tCMHFTd2VIYlcxdVNwVVpJb1hrWGx4bTNyRnhJckJkVmtKM0xLUGF6REVRWWFaZ0pFamxkMmlmMzA4RUZhVEZrbHcvYXhxdWwzN2ZycmVoMDNhL0FPVl8xLjUxLjExMDQyOTI1LmlwYQ%3D%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://avatars.githubusercontent.com/u/137310130?s=96&amp;v=4</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://avatars.githubusercontent.com/u/137310130?s=96&amp;v=4</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.garena.game.hhniosv2</string>
				<key>bundle-version</key>
				<string>1.49.1925084</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>HHNiOS</string>
				<key>title</key>
				<string>Beta1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
